@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1 class="text-center"> Crear tipo Cuenta </h1>

<h5 class="mt-5"> 
    El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos : Prestamos, Tarjetas de credito, etc.
</h5>

<!-- All = va a mostrar todos los errores -->
<!-- modelOnly va a mostrar los errores mostrados en el modelo -->

<div class="container">

<form asp-controller="TiposCuentas" asp-action="Crear">


        <div class="mb-3">
            <label asp-for="Nombre" class="form-label">Nombre</label>
            <input type="text" asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>


        <div class="mb-3">
            <label asp-for="Edad" class="form-label">Edad</label>
            <input type="number" asp-for="Edad" class="form-control" />
            <span asp-validation-for="Edad" class="text-danger"></span>

        </div>


        <div class="mb-3">
            <label asp-for="URL" class="form-label">URL</label>
            <input type="text" asp-for="URL" class="form-control" />
            <span asp-validation-for="URL" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="TarjetaCredito" class="form-label">Tarjeta de credito</label>
            <input type="text" asp-for="TarjetaCredito" class="form-control" />
            <span asp-validation-for="TarjetaCredito" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>


</form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

